.my-picks-page {
  background-image: url("https://e0.365dm.com/16/06/2048x1152/euro-2012-zlatan-ibrahimovic-sweden-france_3488865.jpg");
  background-size: cover;
  overflow: auto;
}

.my-picks-page > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.point-system-table-cont {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  color: white;
  border-radius: 1rem;
  border: solid 3px white;
}

.point-system-table-cont > div {
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}

.ps-top {
  padding-top: 10px;
}

.ps-bottom {
  padding-bottom: 10px;
}

.color-cont {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 0 5px 0 5px;
}

/* .point-system-table-text {
  display: flex;
}

.point-system-table-text > div {
  background: linear-gradient(
    to bottom,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
} */

/*  */

/* 

.yellow-PS {
  background-color: yellow;
  color: yellow;
}

.green-PS {
  background-color: rgb(8, 233, 8);
  color: rgb(8, 233, 8);
}

.orange-PS {
  background-color: orange;
  color: orange;
} */

/* .notes-cont {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: 31rem;
} */

.name-cont {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.name-cont > h1 {
  font-size: 3rem;
}

.white-text {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

.top {
  display: flex;
  padding: 0;
  margin: 0;
}

.box {
  margin-left: 0.5rem;
}

.left {
  display: flex;
  flex: 1.5;
  width: 86%;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.right {
  width: 16%;
  display: flex;
  justify-content: center;
}

.predictions-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-group-cont-picks-pre-ko {
  min-width: 15rem;
  margin: 1% 4% 2% 4%;
}

.single-group-cont-picks {
  width: 23.5rem;
  margin: 1% 1% 2% 1%;
}

.single-group-cont-picks-pre-ko > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.single-group-cont-picks > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.single-group-cont-picks-pre-ko > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  padding: 0.4rem 0rem 0.4rem 0rem;
  border: solid 3px white;
  color: white;
}

.single-group-cont-picks > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  padding: 0.4rem 0rem 0.4rem 0rem;
  border: solid 3px white;
  color: white;
}

.single-group-cont-picks > div > div {
  padding: 8px 0 8px 0;
}

.single-group-cont-picks-pre-ko > div > div {
  padding: 8px 0 8px 0;
}

.single-group-cont-picks-pre-ko > div > div > h5 {
  margin: 0rem;
}

.single-group-cont-picks > div > div > h5 {
  margin: 0rem;
}

.single-group-cont-picks-pre-ko > div > div > div {
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
  border-radius: 0.2rem;
}

.single-group-cont-picks > div > div > div {
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
  border-radius: 0.2rem;
}

.prediction-cont > div {
  display: flex;
  /* justify-content: center; */
  width: 9.5rem;
}

.pred-locked-flag {
  display: flex;
  align-items: center;
  padding: 0 5px 0 10px;
}

.pred-locked-flag > img {
  min-width: 32px;
  max-width: 32px;
  max-height: 20px;
  min-height: 20px;
  color: rgb(225, 225, 211);
}

.outcome-pos-cont > div {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.outcome-locked-flag {
  display: flex;
  align-items: center;
  /* padding: 0 5px 0 10px; */
}

.outcome-locked-flag > img {
  height: 25px;
  min-width: 32px;
  max-width: 32px;
  max-height: 20px;
  min-height: 20px;
  color: rgb(225, 225, 211);
}

.points-cont > div > h2 {
  padding: 1rem;
}

.blue {
  background-color: rgb(45, 75, 224);
}

.purple {
  background-color: rgb(121, 21, 103);
}

.green {
  background-color: rgb(28, 179, 28);
}

.orange {
  background-color: rgb(211, 150, 36);
}

.total-points-cont {
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  min-width: 15rem;
  max-width: 15rem;
  margin: 0;
}

.total-points-cont > div {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 400px;
  list-style: none;
  overflow: auto;
  min-width: 10rem;
}

.total-points-cont > h3 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.total-points-cont > div > div > h4 {
  text-shadow: 2px 2px black;
  color: white;
  margin: 0;
  padding: 0.5rem;
}

.total-points-text-cont {
  min-width: 7rem;
}

.total-points-text-cont > div {
  border: solid 2px white;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  margin: 0.5rem 0.3rem 0.5rem 0rem;
  border-radius: 0.2rem;
  color: white;
}

.bold {
  font-weight: bold;
}

.total-points-points-cont {
  min-width: 4rem;
}

.total-points-points-cont > div {
  border: solid 2px white;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  margin: 0.5rem 0.2rem 0.5rem 0rem;
  border-radius: 0.2rem;
  color: white;
}

/*/////////////////////////////*/
/*/ ///knockout stuff below////*/
/*/////////////////////////////*/

.knockout-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
}

.knockout-cont > div {
  display: flex;
  justify-content: space-around;
}

.knockout-cont > div > div {
  min-width: 9.5rem;
  max-width: 9.5rem;
  text-align: center;
}

.knockout-cont > div > div > h2 {
  text-shadow: 2px 2px black;
  color: white;
  margin-top: 0.2rem;
}

.knockout-cont > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.knockout-cont > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );
  font-size: 17px;
}

.knockout-cont > div > .champ > div > div {
  height: 6rem;
  font-weight: bold;
  font-size: 20px;
  width: 8rem;
}

.R16 > div {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.R16 > div > div {
  margin: 0.5rem 0rem 0.5rem 0rem;
  border: solid 1px white;
  min-width: 8rem;
  max-width: 8rem;
}

.team-ko-img-cont {
  position: relative;
  min-width: 8rem;
  max-width: 8rem;
}

.team-flag-ko {
  min-width: 45px;
  max-width: 45px;
  max-height: 27px;
  min-height: 27px;
}

.team-name-ko-R16 {
  position: absolute;
  top: -12;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.team-name-ko {
  position: absolute;
  top: -17;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.team-ko-img-cont:hover .team-name-ko-R16 {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .team-name-ko {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .team-flag-ko {
  opacity: 0.5;
}

.team-flag-ko-champ {
  min-width: 90px;
  max-width: 90px;
  max-height: 54px;
  min-height: 54px;
}

.team-name-ko-champ {
  position: absolute;
  top: -10;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.team-ko-img-cont:hover .team-name-ko-champ {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .team-flag-ko-champ {
  opacity: 0.5;
}

.unknown-box {
  border: solid 1px white;
  min-width: 8.2rem;
  max-width: 8.2rem;
  border-radius: 0.5rem;
}

.wrong-box {
  border: solid 4px red;
  min-width: 8.4rem;
  max-width: 8.4rem;
  border-radius: 0.7rem;
}

.correct-box {
  border: solid 4px rgb(11, 238, 11);
  min-width: 8.4rem;
  max-width: 8.4rem;
  border-radius: 0.7rem;
}

.wrong-text {
  color: red;
  text-decoration: line-through;
}

.correct-text {
  color: rgb(11, 238, 11);
}

.Q1L {
  min-height: 6rem;
  margin-top: 25%;
}

.Q2L {
  min-height: 6rem;
  margin-top: 21%;
}

.Q3L {
  min-height: 6rem;
  margin-top: 21%;
}

.Q4L {
  min-height: 6rem;
  margin-top: 21%;
}

.S1L {
  min-height: 165px;
  margin-top: 45%;
}

.S2L {
  min-height: 165px;
  margin-top: 59%;
}

.FL {
  min-height: 293px;
  margin-top: 87%;
}

.CL {
  margin-top: 20%;
}

.champ {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.champ > div {
  display: flex;
  justify-content: center;
  width: 10rem;
}

.trophy {
  background-size: cover;
  background-image: url("/public/pics/trophy.jpg");
  height: 11.5rem;
  border-radius: 1rem;
  max-width: 9rem;
  background-position: center;
  margin: 35% 0% 0% 0%;
}
