.my-picks-page {
  background-image: url("/public/pics/zlatan.jpeg");
  background-size: cover;
  overflow: auto;
  height: 84vh;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
}

.name-cont {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.name-cont > h1 {
  font-size: 3rem;
}

.white-text {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

.point-system-table-cont {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  color: white;
  border-radius: 1rem;
  border: solid 3px white;
  /* width: 25rem; */
}

.point-system-table-cont > div {
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}

.ps-top {
  padding-top: 10px;
}

.ps-bottom {
  padding-bottom: 10px;
}

.color-cont {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 0 5px 0 5px;
}

.total-points-cont {
  position: absolute;
  z-index: 10;
  right: 30;
  top: 400;
}

.total-points-cont > div {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  overflow: auto;
  min-width: 1rem;
  margin-top: 0.5rem;
}

.total-points-cont > div > div > div {
  border: solid 2px white;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  margin: 0.5rem 0.3rem 0.5rem 0rem;
  border-radius: 0.2rem;
  color: white;
}

.total-points-text-cont {
  min-width: 7rem;
}

.bold {
  font-weight: bold;
}

.total-points-points-cont {
  min-width: 4rem;
}

/* .top {
  display: flex;
  padding: 0;
  margin: 0;
} */

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 2px yellow; */
  left: 0;
  width: 85vw;
  padding-bottom: 4rem;
}

/* .left {
  display: flex;
  flex: 1.5;
  width: 82vw;
  flex-direction: column;
  padding: 0;
  align-items: center;
} */

/* .right {
  width: 16vw;
  display: flex;
  justify-content: center;
} */

.group-predictions-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-group-cont-picks-pre-ko {
  width: 15rem;
  margin: 0 4% 2% 4%;
}

.single-group-cont-picks {
  width: 23.5rem;
  margin: 1% 1% 2% 1%;
}

.single-group-cont-picks-pre-ko > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.single-group-cont-picks > h4 {
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.single-group-cont-picks-pre-ko > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  padding: 0.4rem 0rem 0.4rem 0rem;
  border: solid 3px white;
  color: white;
  min-height: 11.5rem;
}

.single-group-cont-picks > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  padding: 0.4rem 0rem 0.4rem 0rem;
  border: solid 3px white;
  color: white;
  min-height: 11.5rem;
}

.single-group-cont-picks-pre-ko > div > div {
  padding: 8px 0 8px 0;
}

.single-group-cont-picks > div > div {
  padding: 8px 0 8px 0;
}

.single-group-cont-picks-pre-ko > div > div > h5 {
  margin: 0rem;
  min-height: 1.5rem;
}

.single-group-cont-picks > div > div > h5 {
  margin: 0rem;
  min-height: 1.5rem;
}

.third-place-to-advance-cont > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  min-height: 1.66rem;
  width: 1rem;
  font-size: 1.5rem;
}

.rank-locked-cont > div {
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
  border-radius: 0.2rem;
}

.ko-predictions-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prediction-cont > div {
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
  border-radius: 0.2rem;
  display: flex;
  width: 9.5rem;
}

.pred-locked-flag {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
}

.pred-locked-flag > img {
  min-width: 32px;
  max-width: 32px;
  max-height: 20px;
  min-height: 20px;
  color: rgb(225, 225, 211);
}

.outcome-pos-cont > div {
  display: flex;
  justify-content: center;
  width: 5rem;
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
  border-radius: 0.2rem;
}

.outcome-locked-flag {
  display: flex;
  align-items: center;
}

.outcome-locked-flag > img {
  height: 25px;
  min-width: 32px;
  max-width: 32px;
  max-height: 20px;
  min-height: 20px;
  color: rgb(225, 225, 211);
}

.my-picks-locked-points-cont > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  border: solid black 1px;
  min-height: 1.66rem;
  border-radius: 0.2rem;
}

.my-picks-locked-points-cont > div > h2 {
  padding: 1rem;
}

.blue {
  background-color: rgb(45, 75, 224);
}

.purple {
  background-color: rgb(121, 21, 103);
}

.green {
  background-color: rgb(28, 179, 28);
}

.orange {
  background-color: rgb(211, 150, 36);
}

.pink {
  background-color: rgb(238, 80, 146);
}

@media (max-width: 65em) {
  .my-picks-page {
    height: 89vh;
    background-image: url("/public/pics/zlatan-mobile.jpeg");
  }

  .name-cont > h1 {
    font-size: 300%;
  }

  .point-system-table-cont {
    margin: 20px 0 20px 0;
    width: 90%;
  }

  .pstc-2 {
    width: 52%;
    font-size: 200%;
  }

  .pstc-3 {
    width: 90%;
    font-size: 200%;
  }

  /* .point-system-table-cont > div {
    font-size: 200%;
  } */

  .pstc-4 {
    font-size: 125%;
  }

  .astrix {
    margin: 0 5px 15px 5px;
  }

  .pts-system-description-cont {
    font-size: 66%;
  }

  .total-points-cont {
    top: 700;
  }

  .total-points-cont > div {
    justify-content: space-around;
  }

  .total-points-cont h4 {
    font-size: 250%;
  }

  .total-points-cont > div > div > div {
    font-size: 200%;
  }

  .total-points-text-cont {
    width: 70%;
  }

  .total-points-cont h3 {
    font-size: 175%;
  }

  .total-points-points-cont > div {
    width: 120%;
  }

  .box {
    width: 65%;
    /* border: solid 2px yellow; */
  }

  .group-predictions-cont {
    padding-left: 20px;
  }

  .single-group-cont-picks-pre-ko {
    width: 70%;
  }

  .single-group-cont-picks {
    width: 40rem;
  }

  /* Group A text*/
  .single-group-cont-picks-pre-ko h4 {
    font-size: 250%;
  }

  .single-group-cont-picks h4 {
    font-size: 250%;
  }

  /* main square cont*/
  .single-group-cont-picks-pre-ko > div {
    /* justify-content: start; */
    justify-content: space-around;
  }

  /* Rank/Prediction text*/
  .single-group-cont-picks-pre-ko > div > div > h5 {
    font-size: 150%;
    margin: 0rem;
    min-height: 45px;
    /* border: solid 2px red; */
  }

  .single-group-cont-picks > div > div > h5 {
    font-size: 150%;
    margin: 0rem;
    min-height: 45px;
  }

  .third-place-to-advance-cont > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
    font-size: 2rem;
    margin: 2px 0 2px 0;
    padding-top: 15px;
  }

  .rank-locked-cont > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
    font-size: 2rem;
    margin: 2px 0 2px 0;
    /* align-items: center;
    margin: 1rem; */
  }

  .prediction-cont {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    width: 280px;
    /* border: solid 2px yellow; */
  }

  /* .prediction-cont > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
    font-size: 2rem;
    margin: 2px 0 2px 0;
  } */

  .prediction-cont > div {
    display: flex;
    /* justify-content: center; */
    min-height: 4rem;
    font-size: 2rem;
    margin: 2px 0 2px 0;
    width: 280px;
    /* margin: 2px 0 2px 0; */
  }

  /* third place advance text*/
  /* .third-place-to-advance-cont > div {
 
    font-size: 4rem;
  } */

  /* black border cont*/

  .pred-locked-flag {
    padding-right: 10px;
  }

  .pred-locked-flag > img {
    min-width: 40px;
    max-width: 40px;
    max-height: 28px;
    min-height: 28px;
  }

  .pred-locked-name {
    display: flex;
    align-items: center;
  }

  .outcome-pos-cont > div {
    width: 8rem;
    min-height: 4rem;
  }

  .outcome-locked-flag > img {
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    max-height: 38px;
    min-height: 38px;
  }

  .my-picks-locked-points-cont > div {
    width: 6rem;
    min-height: 4rem;
    font-size: 2rem;
  }
}

/*/////////////////////////////*/
/*/ ///knockout stuff below////*/
/*/////////////////////////////*/

.knockout-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
}

.knockout-cont > div {
  display: flex;
  justify-content: space-around;
}

.knockout-cont > div > div {
  width: 9.5vw;
  text-align: center;
}

.knockout-cont > div > div > h2 {
  text-shadow: 2px 2px black;
  color: white;
  margin-top: 0.2rem;
  font-size: 1.5vw;
}

.knockout-cont > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.knockout-cont > div > div > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );
  font-size: 17px;
}

.knockout-cont > div > .champ > div > div {
  height: 6rem;
  font-weight: bold;
  font-size: 20px;
  width: 8rem;
}

.R16 > div {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.R16 > div > div {
  margin: 0.5rem 0rem 0.5rem 0rem;
  border: solid 1px white;
  width: 7vw;
}

.team-ko-img-cont {
  position: relative;
}

.team-flag-ko {
  min-width: 45px;
  max-width: 45px;
  max-height: 27px;
  min-height: 27px;
}

.team-name-ko-R16 {
  position: absolute;
  top: -12;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  /* opacity: 0; */
}

.team-name-ko {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -17;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  /* opacity: 0; */
}

.unknown-box {
  border: solid 1px white;
  width: 7vw;
  border-radius: 0.5rem;
}

.wrong-box {
  border: solid 4px red;
  width: 7.5vw;
  border-radius: 0.7rem;
}

.correct-box {
  border: solid 4px rgb(11, 238, 11);
  width: 7.5vw;
  border-radius: 0.7rem;
}

.correct-team-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50;
  bottom: 0;
  /* left: -2.3vw; */
  left: -2.5vw;
  right: 0;
  height: 2.5rem;
  border: solid 4px white;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );
  border-radius: 0.5rem;
  color: white;
  visibility: hidden;
  opacity: 0;
  width: 7.5vw;
}

.correct-team-cont-CL {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -67;
  bottom: 0;
  left: -1.4vw;
  right: 0;
  height: 2.5rem;
  border: solid 2px white;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );
  border-radius: 0.5rem;
  color: white;
  visibility: hidden;
  opacity: 0;
  width: 8vw;
}

.correct-team-name-ko {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -18;
  bottom: 0;
  left: 0;
  right: 0;
}

.correct-team-name-ko-CL {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -23;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-ko-img-cont:hover .team-name-ko-R16 {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .team-name-ko {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .correct-team-cont {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .correct-team-cont-CL {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .team-flag-ko {
  opacity: 0.5;
}

.team-flag-ko-champ {
  min-width: 90px;
  max-width: 90px;
  max-height: 54px;
  min-height: 54px;
}

.team-name-ko-champ {
  position: absolute;
  top: -10;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.team-ko-img-cont:hover .team-name-ko-champ {
  visibility: visible;
  opacity: 1;
}

.team-ko-img-cont:hover .team-flag-ko-champ {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.wrong-flag {
  opacity: 0.6;
}

.wrong-text {
  color: red;
  text-decoration: line-through;
}

.correct-text {
  color: rgb(11, 238, 11);
}

.Q1L {
  min-height: 6rem;
  margin-top: 4vh;
}

.Q2L {
  min-height: 6rem;
  margin-top: 21%;
}

.Q3L {
  min-height: 6rem;
  margin-top: 4vh;
}

.Q4L {
  min-height: 6rem;
  margin-top: 21%;
}

.S1L {
  min-height: 165px;
  margin-top: 7vh;
}

.S2L {
  min-height: 165px;
  margin-top: 10.5vh;
}

.FL {
  min-height: 293px;
  margin-top: 15vh;
}

.CL {
  margin-top: 20%;
}

.champ {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
}

.champ > div {
  display: flex;
  justify-content: center;
  width: 10vw;
}

.trophy {
  background-size: cover;
  background-image: url("/public/pics/trophy.jpg");
  height: 13rem;
  border-radius: 1rem;
  width: 9vw;
  background-position: center;
  margin: 35% 0% 0% 0%;
}

@media (max-width: 65em) {
  .knockout-cont-mobile {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    width: 90%;
    /* min-height: 60rem; */
    background: linear-gradient(
      to bottom right,
      black 0%,
      rgb(79, 75, 75) 25%,
      rgb(93, 89, 89) 50%,
      rgb(79, 75, 75) 75%,
      black 100%
    );
    margin-top: 40px;
    border-radius: 1rem;
  }

  .knockout-cont-mobile > h1 {
    padding-top: 3%;
    font-size: 250%;
  }

  .knockout-cont-mobile > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ko-cont-half {
    display: flex;
    justify-content: space-between;
  }

  .regoin-cont {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* height: 100vh; */
    width: 200px;
    /* border: solid 2px red; */
  }

  .regoin-cont > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    height: 150px;
    /* border: solid 2px rgb(5, 248, 5); */
  }

  /* .regoin-cont > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0 10px 0;
    height: 150px;
  } */

  .ko-box-small {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 50px;
    width: 50px;
  }

  .ko-box-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 60px;
    width: 80px;
  }

  .ko-box-large {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100px;
    width: 140px;
  }

  .ko-box-wrong {
    border: solid 2px red;
  }

  .ko-box-correct {
    border: solid 2px rgb(5, 248, 5);
  }

  .final-four-cont {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  .semis-mobile-z-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: solid 2px blue; */
    height: 150px;
    margin: 0 10px 0 10px;
  }

  .finals-mobile-z-out {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .champ-mobile-z-out {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 20px 0 20px;
  }
}
