.admin-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: linear-gradient(
    to bottom,
    rgb(6, 241, 233) 0%,
    rgb(5, 189, 183) 25%,
    rgb(2, 124, 120) 50%,
    rgb(2, 82, 79) 75%,
    rgb(0, 12, 11) 100%
  ); */
  overflow: auto;
  height: 84vh;
  padding-top: 5%;
}

.admin-user-container {
  display: flex;
  flex-direction: column;
}

.admin-header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 1%;
  border: solid 2px red;
  width: 100vw;
}

.user-details-cont {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 1%;
}

.paid-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15vw;
}

.data-cont-admin-user {
  display: flex;
  align-items: center;
}

.data-cont-admin-user > div {
  display: flex;
  justify-content: end;
  /* width: 1vw; */
}

.data-cont-admin-user > input {
  background: transparent;
  font-size: 1.5rem;
  text-align: center;
  border: solid 2px black;
  margin-left: 2%;
}

.dcau-input {
  width: 10vw;
}

.dcau-checkbox {
  display: flex;
  justify-content: end;
}

.user-admin {
  /* display: flex;
  flex-direction: column; */
  border-top: solid 2px black;
  padding-top: 1%;
  /* border: solid 2px red; */
}

/* .group-dropdown-admin {
  border-radius: 0.5rem;
} */
