/*///////////////////////*/
/*/ ///////Sign In////////*/
/*///////////////////////*/

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toaster-invalid-credentials {
  background-color: rgb(248, 219, 219);
  color: rgb(146, 65, 65);
  margin: 10.75% 0 0 0%;
  display: flex;
}

.toaster-invalid-credentials > div > div {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 2rem;
}

.login-cont-outside {
  border-radius: 1rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, #232628 0%, #090909 100%);
  box-shadow: 0 1px 2px black, 0 2px 4px black, 0 4px 8px black,
    0 -1px 2px black, 0 -2px 4px black, 0 -4px 8px black;
  height: 34rem;
  width: 32rem;
}

.login-cont-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  height: 32rem;
  background: linear-gradient(
    to right,
    #009246 calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    #ce2b37 calc(100% / 3 * 2)
  );
}

.login-cont-inside > h1 {
  margin: 0 0 5% 0;
}

.login-form {
  max-width: 50%;
}

.view-pw {
  margin: 10px 0px 0px 0px;
  font-size: 1rem;
  text-align: center;
  text-shadow: none;
  cursor: pointer;
}

.option-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.option-cont > h4 {
  margin-right: 4px;
  margin: 0;
}

.option-cont > a {
  text-decoration: none;
  color: blue;
}

.option-cont > a > h4 {
  margin: 0;
}

/*/ //////////////////////*/
/*/////Create Account/////*/
/*/ //////////////////////*/

.create-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.toaster-error-create-account {
  background-color: rgb(248, 219, 219);
  color: rgb(146, 65, 65);
  text-align: center;
  margin: 10% 0 0 0;
}

.create-account-cont-outside {
  border-radius: 1rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, #232628 0%, #090909 100%);
  height: 39rem;
  width: 32rem;
}

.create-account-cont-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 37rem;
  width: 30rem;
  background: linear-gradient(
    to right,
    #009246 calc(100% / 3),
    white calc(100% / 3),
    white calc(100% / 3 * 2),
    #ce2b37 calc(100% / 3 * 2)
  );
}

.create-account-cont-inside > h1 {
  margin: 1% 0 2% 0;
}

.create-account-form {
  display: flex;
  flex-direction: column;
  max-width: 65%;
}

.option-cont-create-account {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.option-cont-create-account > div {
  margin-right: 5px;
}

.option-cont-create-account > a > h4 {
  margin: 0;
}

/*///////////////////////*/
/*/ ///Action Confirmation////*/
/*///////////////////////*/

.action-confirm-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soccer-field-outside {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, #232628 0%, #090909 100%);
  box-shadow: 0 1px 2px black, 0 2px 4px black, 0 4px 8px black,
    0 -1px 2px black, 0 -2px 4px black, 0 -4px 8px black;
  height: 25rem;
  width: 50rem;
}

.soccer-field-inside {
 background-image: url("https://www.sportsadda.com/static-assets/waf-images/06/29/ee/16-9/PbVXFupWPk.jpg?v=1.2&w=420%20420w");
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 0.2rem;
  text-align: center;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soccer-field-inside > h1 {
  margin: 0;
}

.soccer-field-inside > h4 {
  color: white;
  margin: 0;
}

.email-instructions {
  margin-top: 3%;
  color: white;
  max-width: 55%;
}

.email-instructions > a {
  color: white;
}

.click-to-sign-in {
  margin-top: 15%;
}

.click-to-sign-in > a {
  color: white;
  text-decoration: none;
}

/*/ //////////////////////*/
/*/User Profile Dropdown/*/
/*///////////////////////*/

.user-details-dropdown {
  position: absolute;
  top: 5;
  right: 20;
}

.dropdown-elevate {
  box-shadow: 0 1px 2px rgb(159, 159, 147), 0 2px 4px rgb(159, 159, 147),
    0 4px 8px rgb(159, 159, 147), 0 -1px 2px rgb(159, 159, 147),
    0 -2px 4px rgb(159, 159, 147), 0 -4px 8px rgb(159, 159, 147);
  z-index: 2;
}

/*/ //////////////////////*/
/*/ /////User Profile/////*/
/*/ //////////////////////*/

.user-profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#update-profile {
  min-width: 60%;
}

.user-profile-outside {
  border-radius: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, #232628 0%, #090909 100%);
  box-shadow: 0 1px 2px black, 0 2px 4px black, 0 4px 8px black,
    0 -1px 2px black, 0 -2px 4px black, 0 -4px 8px black;
  height: 24rem;
  width: 30rem;
}

.user-profile-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  height: 23rem;
  background: linear-gradient(
    to bottom right,
    rgb(65, 65, 59) 0%,
    rgb(95, 95, 86) 25%,
    rgb(152, 152, 141) 50%,
    rgb(95, 95, 86) 75%,
    rgb(65, 65, 59) 100%
  );
  color: white;
}

.user-profile-inside > h1 {
  margin: 1rem 0 0 0;
}

.name-cont {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.name-cont > div {
  border: dashed 2px white;
  border-radius: 1.5rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-top: 0.1px;
}

.user-profile-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.user-profile-options > a {
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.upo-pw {
  height: 27rem;
  width: 30rem;
}

.upi-pw {
  height: 26rem;
}

.upo-name {
  height: 22rem;
  width: 30rem;
}

.upi-name {
  height: 21rem;
}

.view-pw-user-profile {
  font-size: 1rem;
  text-shadow: none;
  cursor: pointer;
  padding: 25px 0 5px 0;
}

.user-profile-edit-cancel-cont > div > a {
  font-weight: bold;
  color: white;
}

.user-profile-edit-error-cont {
  min-height: 5rem;
}

.upecc-Name {
  padding-top: 2rem;
}

.input-cont-user-profile {
  display: flex;
  flex-direction: column;
}

.input-cont-user-profile > input {
  text-align: center;
  background: transparent;
  min-width: 20rem;
  font-size: 2rem;
  color: white;
  margin: 0rem 0rem 1rem 0rem;
  height: 4rem;
  border: solid 2px rgb(199, 192, 192);
  border-radius: 0.5rem;
}

.input-cont-user-profile > input::placeholder {
  color: white;
  opacity: 0.7;
  font-size: 1rem;
}

.toaster-email-changed {
  text-align: center;
  margin: 13% 0 0 0;
  min-width: 25rem;
  font-weight: bold;
  border: solid 2px black;
}

/*/ //////////////////////*/
/*/ //////Forgot PW///////*/
/*/ //////////////////////*/

.forgot-pw-outside {
  border-radius: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, #232628 0%, #090909 100%);
  box-shadow: 0 1px 2px black, 0 2px 4px black, 0 4px 8px black,
    0 -1px 2px black, 0 -2px 4px black, 0 -4px 8px black;
  height: 26rem;
  width: 30rem;
}

.forgot-pw-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  height: 25rem;
  background: linear-gradient(
    to bottom right,
    rgb(65, 65, 59) 0%,
    rgb(95, 95, 86) 25%,
    rgb(152, 152, 141) 50%,
    rgb(95, 95, 86) 75%,
    rgb(65, 65, 59) 100%
  );
}

.forgot-pw-inside > h1 {
  color: white
}

#forgot-pw{
  margin: 1rem;
  width: 70%
}

.back-to-sign-in {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white
}

/*/ //////////////////////*/
/*/ //////Reset PW///////*/
/*/ //////////////////////*/

.reset-pw-outside {
  border-radius: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to bottom right, #232628 0%, #090909 100%);
  box-shadow: 0 1px 2px black, 0 2px 4px black, 0 4px 8px black,
    0 -1px 2px black, 0 -2px 4px black, 0 -4px 8px black;
  height: 36rem;
  width: 33rem;
}

.reset-pw-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  height: 35rem;
  background: linear-gradient(
    to bottom,
    rgb(65, 65, 59) 0%,
    rgb(95, 95, 86) 25%,
    rgb(152, 152, 141) 50%,
    rgb(95, 95, 86) 75%,
    rgb(65, 65, 59) 100%
  );
}

.reset-pw-inside > h1 {
  color: white;
}

#reset-pw {
  margin: 1rem;
  width: 70%;
}
