.trez {
  background-size: cover;
  background-image: url("/public/pics/trez.jpeg");
  height: 84vh;
  /* border-radius: 1rem; */
  width: 100vw;
  background-position: center;
}

@media (max-width: 65em) {
  .trez {
    height: 89vh;
  }
}
