.pre-login-page {
  background-image: url("https://editorial.uefa.com/resources/025f-0fc914d8e31c-b147c5f5de0d-1000/david_trezeguet_s_golden_goal_vanquished_italy_in_the_uefa_euro_2000_final_in_rotterdam_as_france_picked_up_their_second_european_title.jpeg");
  width: 100vw;
  height: 84vh;
  background-size: cover;
}
