/*/////This file is being pulled in via the No Match file////////*/

/*/ //////////////////////*/
/*////////No Match///////*/
/*/ //////////////////////*/

.no-match-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  cursor: default;
  overflow: auto;
  padding-top: 3%;
}

.no-match-page > h1 {
  margin: 10% 0% 3% 0%;
}

.no-match-page > h2 {
  margin: 0;
}

/*/ //////////////////////*/
/*/////////Button/////////*/
/*/ //////////////////////*/

.button-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.button {
  font-size: 1rem;
  padding: 12px;
  min-width: 10rem;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(211, 206, 206);
}

@media (max-width: 65em) {
  .button {
    height: 200%;
    padding: 0 20px 0 20px;
    font-size: 200%;
  }
}

/*/ //////////////////////*/
/*//////////Error/////////*/
/*/ //////////////////////*/

.error-cont {
  display: flex;
  justify-content: center;
  text-shadow: none;
  max-width: "40rem";
  height: 5rem;
}

@media (max-width: 65em) {
  .error-cont > div {
    display: flex;
    align-items: center;
    height: 5rem;
    width: fit-content;
    font-size: 200%;
  }
}

/*/ //////////////////////*/
/*/////////Loading////////*/
/*/ //////////////////////*/

.loading-cont {
  width: 100vw;
  height: 84vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
}

.loading-transp {
  background: transparent;
}

/*/ //////////////////////*/
/*/////////Cancel////////*/
/*/ //////////////////////*/

.cancel-cont {
  display: flex;
  justify-content: center;
  min-height: 2rem;
}

.cancel-cont > a {
  text-decoration: none;
}

.cancel-color-white {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.cancel-color-black {
  color: #29323c;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 65em) {
  .cancel-color-white {
    font-size: 200%;
  }

  .cancel-color-black {
    padding-top: 10px; /* using this on my_picks_group stages only so far*/
    font-size: 150%;
  }
}

/*/ //////////////////////*/
/*/////////Dropdown///////*/
/*/ //////////////////////*/

.dropdown-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* z-index: 1; */
}

.dropdown {
  background: linear-gradient(to bottom right, #485563 0%, #29323c 100%);
  border-radius: 0.5rem;
}
