.group-details-page {
  background-image: url("/public/pics/greece-champs.jpeg");
  height: 84vh;
  background-size: cover;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.group-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

.asterisk-table-cont {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  border-radius: 1rem;
  border: solid 2px black;
  width: 20rem;
  margin-top: 2%;
}

.asterisk-table-cont > div {
  display: flex;
  align-items: center;
  padding: 10px 8px 10px 8px;
}

.symbol-cont {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 0 5px 0 5px;
}

.single-group-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3% 1% 3%;
  margin: 1% 2% 1% 2%;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(222, 222, 212) 25%,
    rgb(203, 203, 192) 50%,
    rgb(222, 222, 212) 75%,
    rgb(159, 159, 147) 100%
  );
  border-radius: 4rem;
  min-width: 35rem;
  max-width: 35rem;
  min-height: 17rem;
  max-height: 17rem;
}

.single-group-cont > h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  text-align: center;
  border-bottom: solid 2px rgb(175, 170, 170);
  padding-bottom: 8px;
}

.group-table-cont {
  display: flex;
}

.group-table-cont > div > div > div {
  min-height: 35px;
  max-height: 35px;
  padding: 5% 0 5% 0;
}

.box1-gd {
  display: flex;
  flex: 0.7;
}

.box2-gd {
  display: flex;
  flex: 0.3;
}

.gd-cc-flag {
  display: flex;
  flex: 0.2;
  max-width: 45px;
  min-width: 45px;
  align-items: center;
  margin-left: 5px;
}

.gd-cc-name {
  display: flex;
  flex: 0.8;
}

.gd-cc-name > div {
  display: flex;
  flex: 0.8;
  font-size: 100%;
}

.spacer {
  min-width: 5px;
}

.gd-all-others {
  min-width: 35px;
  max-width: 35px;
  font-size: 16px;
}

.gd-cc-plus-minus {
  min-width: 47px;
  max-width: 47px;
}

.group-table-column-cont {
  display: flex;
  flex-direction: column;
}

.gd-column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  margin: 0;
}

.group-table-column-cont > div {
  display: flex;
  align-items: center;
  height: 3vh;
  padding: 3% 0 3% 0;
  border-bottom: solid 2px rgb(175, 170, 170);
}

.gd-cc-advanced {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  font-size: 2rem;
}

.gd-cc-advanced > div {
  border-bottom: none;
  margin-top: 2px;
}

.gd-single-cell {
  justify-content: center;
}

.gd-flag {
  min-height: 35px;
  max-height: 35px;
  min-width: 45px;
  max-width: 45px;
  padding: 10% 0 10% 0;
  border-bottom: solid 2px rgb(175, 170, 170);
}

@media (max-width: 65em) {
  .group-details-container {
    margin-bottom: 5%;
  }

  .asterisk-table-cont {
    margin: 4% 0 4% 0;
    width: 60vw;
  }

  .asterisk-table-cont > div {
    font-size: 200%;
  }

  .symbol-cont {
    margin-bottom: 10px;
  }

  .single-group-cont {
    min-width: 80vw;
    min-height: 24vh;
    margin-bottom: 5%;
  }

  .single-group-cont > h3 {
    font-size: 190%;
  }

  .gd-column-header {
    min-height: 50px;
  }

  .box1-gd {
    flex: 0.4;
  }

  .box2-gd {
    display: flex;
    flex: 0.6;
    justify-content: space-around;
  }

  .box1-gd > div {
    display: flex;
    flex: 0.5;
  }

  .group-table-cont > div > div > h4 {
    font-size: 130%;
  }

  .group-table-cont > div > div > div {
    min-height: 55.4px;
    max-height: 55.4px;
    font-size: 130%;
  }

  .group-table-cont > div > div > img {
    min-height: 55px;
    max-height: 55px;
  }

  .gd-cc-advanced {
    max-width: 30px;
    padding-top: 5px;
  }

  .gd-cc-flag {
    flex: 0.4;
    margin-left: 15px;
  }

  .gd-flag {
    min-width: 8vw;
    max-height: 0.4vh;
  }

  .spacer {
    min-width: 25px;
  }

  .gd-cc-name {
    flex: 0.6;
    font-size: 150%;
  }

  .gd-cc-name > div {
    width: 155%;
  }

  .gd-all-others {
    min-width: 14%;
  }
}
