.ko-admin-page {
  width: 100vw;
  height: 84vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-ko-cont {
  width: 90vw;
  margin-top: 3vh;
}

.ko-cont-edit {
  display: flex;
  justify-content: center;
}

.ko-box-edit {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    rgb(159, 159, 147) 0%,
    rgb(11, 11, 11) 50%,
    rgb(159, 159, 147) 100%
  );

  border-radius: 0.5rem;
  border: solid 2px white;
}
