.navbar-cont {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 16vh;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 2px red;
}

.top-row-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 3rem;
}

.top-row-navbar > h1 {
  font-size: 300%;
  padding-top: 7%;
}

.last-updated-cont {
  position: absolute;
  top: 2;
  left: 1;
  padding: 0.9rem 0rem 0rem 1rem;
  flex-grow: 1;
  font-weight: bold;
  font-size: 1.3rem;
}

.last-updated-cont > div > input {
  font-size: 1rem;
  width: 20rem;
}

.last-updated-button {
  margin-left: 1rem;
  cursor: pointer;
}

/* .middle-row-navbar {
  display: flex;
  justify-content: center;
} */

.payout {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  position: absolute;
  top: -15;
  left: 150;
}

.payout-cont-f {
  position: absolute;
  top: 30;
  left: -10;
}

.payout-text-cont {
  border: solid 2px black;
  display: flex;
  text-align: center;
  width: 140%;
}

.place-col-cont {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.place-col-cont > div {
  border: solid 1px black;
}

.dollar-col-cont {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.dollar-col-cont > div {
  border: solid 1px black;
}

.submitted-picks {
  font-size: 1rem;
  padding: 0.5rem 0rem 0rem 6rem;
  z-index: 10;
}

.last-updated-cont-NU {
  padding: 0.5rem 0rem 0rem 1rem;
  flex-grow: 1;
}

.login-cont {
  padding: 0.5rem 3rem 0rem 0rem;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.user-dropdown {
  cursor: pointer;
}

.bottom-row-navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 4rem;
  /* border: solid 2px yellow; */
}

.bottom-row-navbar > a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4rem;
  padding: 10px;
}

.selected-url {
  color: #ede7f6;
  background-color: #115293;
}

.not-selected-url {
  color: black;
}
