.rules-page {
  padding-right: 10%;
  margin-left: 3%;
  overflow: auto;
}

.rules-page > h2 {
  padding-top: 1%;
  margin-left: 2%;
}

.rules-page > ul {
  padding-right: 9rem;
}

.rules-page > ul > li {
  padding-left: 4%;
  font-size: 1rem;
}

.margin-top {
  margin-top: 1%;
}

.important {
  font-weight: bold;
}

.to-do {
  color: red;
}

@media (max-width: 65em) {
  .rules-page > h2 {
    font-size: 250%;
  }

  .rules-page > ul > li {
    font-size: 140%;
  }
}
